* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}


.container {
    width: 960px;
    margin: 0 auto;
    
}
/* END OF GLOBAL STYLES */
header {
    height: auto;
    width: 100;
    background: black;
    color: white;

}
.header-content-wrap {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
}
header img {
    height: 1.5em;
    margin: 0.66em 1em;
}
header h1 {
    font-size: 1rem;
}
/* END OF HEADER SECTION */



/* END OF HERO SECTION */